/*CSS de Banca Online*/
#FlexBancaOnline{
    display: flex;
    flex-direction: row;
}

#Cuentas{
    width: 49%;
    margin: 1% 1%;
}
#SelectCuentas{
    width: 50%;
}
#Fondos{
    width: 49%;
    margin: 1% 1%;
}
#AñadirFondos{
    width: 50%;
    display: inline-block;
}
table#Extracto{border:1px solid black;width:60%;background: darkgray ;margin:auto;}
table#Extracto	tr{text-align: center;}
table#Extracto  tr#titulo{background: darkgray ;text-align: center;}
table#Extracto   tr:nth-child(odd){background:  lightcyan;}
table#Extracto tr:nth-child(even){background: ivory; }
table#Extracto{margin-top: 10px;}
/*CSS de Clientes*/
#TituloClientes{
    border: solid black 1px;
    width: 50%;
    margin: auto;
    text-align: center;
}   

#tabla{
	width:100%;
}

#tabla table{
	border: solid black 1px;
	width:80%;
	margin:auto;
}

#tabla table tr{
	border: solid black 1px;
}